.password{
    margin-top: 20px;
    margin-bottom: 50px;
}

.reload{
    margin-top: 20px;
    width: 30px;
    
}
.noclass{
border: 0;
background: rgba(250,244,177,1) ;
cursor:pointer;
margin-top: 10px;
}