.container{
 
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  
}


.App {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  text-align: center;
 width: 500px;
 height: 600px;
 border:solid 3px;
 border-radius:20px;
}


.App-header {
   
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   
}

.img{
  width: 20px;
  margin-left:3px ;
  
}
.basetext{
  margin-top: -60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-size: small;
}
.logo{
  width:60px;
  margin-top: 10px;

}
.h1{
font-size: 60px;
padding-bottom: 5px;
}

.button{
  font-family: 'RetroGaming', sans-serif;
  border:1px solid black;
  border-radius:4px;
  cursor:pointer;
  background:radial-gradient(circle, rgba(255,255,213,1) 0%, rgba(250,244,177,1) 100%);
  color: #394240;
  padding: 5px;
  -webkit-box-shadow: 0px 7px 13px -7px #000000, 4px 3px 7px 0px rgba(0,0,0,0); 
  box-shadow: 0px 7px 13px -7px #000000, 4px 3px 7px 0px rgba(0,0,0,0);
}
.button:hover {
  background: #FAF4B1;
  -webkit-box-shadow: 0px 4px 6px -7px #000000, 4px 3px 7px 0px rgba(0,0,0,0); 
  box-shadow: 0px 4px 6px -7px #000000, 4px 3px 7px 0px rgba(0,0,0,0);
}
 @media (max-width:500px ) {
  
  .App {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
   width: 380px;
   height: 600px;
   border:solid 3px;
   border-radius:20px;
   
  }
 }
 @media (max-width:400px ) {
  
  .App {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
   width: 360px;
   height: 600px;
   border:solid 3px;
   border-radius:20px;
   
  }
 }
 @media (max-width:360px ) {
  
  .App {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
   width: 320px;
   height: 600px;
   border:solid 3px;
   border-radius:20px;
   
  }
  .h1{
    font-size: 50px;
    padding-bottom: 5px;
    }
 }