
@font-face {
  font-family: 'RetroGaming';
  src: url('./font/RetroGaming.ttf') format('truetype');
}

body {

  margin: 0;
  font-family: 'RetroGaming', sans-serif;
    background-color: #FAF4B1;
    color:#394240;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
